<h1>This is Login Page</h1>

<%= form_tag do %>

	<div class="field">
    <%= label_tag :name, 'Name:' %><br />
    <%= text_field :name,params[:name] %>
  </div>
  <div class="actions">
    <%= submit_tag "Login" %>
  </div>
<% end %>